# Editor
.vscode/

# Python Virtualenv
.venv/
venv/

# Python compiled
*.py[cod]
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Mypy
.mypy_cache

# Arduino
build/

# ML
*.avi
events.out.tfevents.*
model.pt
plot*.png
*.zip
output_data/
